    <div class = "side-ue">
      <h2 class = "username">
        <%= link_to current_user.name, edit_user_path(current_user)%>
      </h2>
      <h3 class = "chat-link"><a href="#">チャット作成</a></h3>
    </div>
    <div class = "side-sita">
      <div class = "room">
        <div class = "room1"><a href="#">techroom1</a></div>
      </div>
      <div class = "room">
        <div class = "room1"><a href="#">techroom2</a></div>
      </div>
    </div>